@charset "UTF-8";
@font-face {
  font-family: "FiraSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-black.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-bold.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-medium.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-thin.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-light.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-lightitalic.ttf") format("truetype"); }

@font-face {
  font-family: "Lifehack Bold";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lifehack";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lumberjack";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "FiraSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-black.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-bold.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-medium.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-thin.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-light.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-lightitalic.ttf") format("truetype"); }

@font-face {
  font-family: "Lifehack Bold";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lifehack";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lumberjack";
  font-style: normal;
  font-weight: normal; }

.support-color1 {
  color: #95c93d; }

.support-color2 {
  color: #c9202a; }

.default-margin {
  margin-bottom: 25px; }

.reg-height {
  max-height: 440px; }

.inner-row {
  position: relative;
  top: 80px;
  left: 40px; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #363636;
  font-style: italic; }

.section-title {
  color: #fff;
  background-color: #c9202a;
  background: -webkit-gradient(linear, left top, right top, color-stop(68%, #c9202a), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, #c9202a 68%, transparent 50%);
  background: linear-gradient(to right, #c9202a 68%, transparent 50%);
  font-family: PfagoraslabPro-Black;
  font-size: 26px;
  font-size: 2.6rem; }

time {
  font-family: PfagoraslabPro-Thin; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .social .social-item {
    margin-left: 15px; }
    .social .social-item .item-vk,
    .social .social-item .item-twit,
    .social .social-item .item-od,
    .social .social-item .item-insta,
    .social .social-item .item-plus,
    .social .social-item .item-fb {
      background-color: #7f7f7f; }
    .social .social-item .item-vk:hover {
      background-color: #45668e; }
    .social .social-item .item-twit:hover {
      background-color: #00aced; }
    .social .social-item .item-od:hover {
      background-color: #FF9800; }
    .social .social-item .item-insta:hover {
      background-color: #bc2a8d; }
    .social .social-item .item-plus:hover {
      background-color: #dd4b39; }
    .social .social-item .item-fb:hover {
      background-color: #3b5998; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-image: url("../img/main-background.png");
  background-repeat: repeat;
  font-family: FiraSans-Regular; }

.header-top {
  background-image: url("../img/border.png");
  background-position: bottom;
  background-repeat: repeat-x; }

.justify-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-info .info-item-tel,
.contact-info .info-item-address {
  padding-left: 28px; }

.contact-info .info-item-tel {
  background: url("../img/tel.png") no-repeat;
  background-position-y: 3px;
  margin-bottom: 5px;
  font-family: "Lifehack";
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem; }

.contact-info .info-item-address {
  background: url("../img/marker.png") no-repeat;
  margin-left: 4px;
  padding-bottom: 5px;
  color: #252525;
  font-family: PfagoraslabPro-Thin;
  font-size: 12px;
  font-size: 1.2rem; }

.complete-info .info-cab,
.complete-info .info-org {
  border-bottom: 3px solid #95c93d;
  color: #252525;
  font-family: PfagoraslabPro-Light;
  font-size: 12px;
  font-size: 1.2rem; }
  .complete-info .info-cab:hover,
  .complete-info .info-org:hover {
    border-bottom: none; }

.complete-info .info-cab-icon {
  background: url("../img/profile.png") no-repeat;
  padding: 9px 19px 4px; }

.complete-info .info-org-icon {
  background: url("../img/info.png") no-repeat;
  padding: 1px 14px 4px; }

.transparent {
  background-color: transparent;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  height: 40px;
  line-height: 40px; }
  .transparent .main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .transparent .main-menu .main-menu-item {
      float: 0; }
      .transparent .main-menu .main-menu-item .menu-link {
        color: #363636;
        font-family: PfagoraslabPro-Medium;
        display: inline;
        padding: 6px 15px;
        margin-left: 5px;
        font-size: 14px;
        font-size: 1.4rem; }
        .transparent .main-menu .main-menu-item .menu-link:hover {
          background-color: #95c93d;
          color: #fff; }
      .transparent .main-menu .main-menu-item::before {
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        top: 11px;
        border-left: 5px solid #95c93d; }
      .transparent .main-menu .main-menu-item:last-child::after {
        content: '';
        display: inline-block;
        height: 16px;
        position: relative;
        top: 3px;
        right: 5px;
        border-right: 5px solid #95c93d; }
      .transparent .main-menu .main-menu-item .dropdown-content li {
        border-color: #95c93d;
        border-width: 3px;
        border-style: solid; }
        .transparent .main-menu .main-menu-item .dropdown-content li:not(:last-child) {
          border-bottom: none; }
        .transparent .main-menu .main-menu-item .dropdown-content li:hover {
          background-color: #fff; }
        .transparent .main-menu .main-menu-item .dropdown-content li a {
          font-family: PfagoraslabPro-Medium;
          color: #363636;
          font-size: 14px;
          font-size: 1.4rem; }
          .transparent .main-menu .main-menu-item .dropdown-content li a:hover {
            color: #c9202a; }

.slider {
  margin-bottom: 25px; }
  .slider .custom-caption {
    top: 2% !important;
    left: 14% !important; }
  .slider .slider-text {
    font-family: PfagoraslabPro-Black;
    line-height: 1.2;
    font-size: 34px;
    font-size: 3.4rem; }
  .slider form.col {
    background: url("../img/form.png") no-repeat;
    position: relative;
    top: -100px;
    height: 400px; }
  .slider input[type=text],
  .slider input[type=tel],
  .slider input[type=email],
  .slider textarea.materialize-textarea {
    margin: 0;
    background-color: #fff;
    color: #000;
    text-indent: 10px; }
  .slider input[type=text],
  .slider input[type=tel],
  .slider input[type=email] {
    height: 2.5rem; }
  .slider textarea.materialize-textarea {
    padding: 0; }
  .slider .btn-slider {
    background-color: transparent;
    border-color: #f08b2c;
    border-width: 3px;
    border-style: solid;
    color: #f08b2c;
    font-family: PfagoraslabPro-Bold;
    font-size: 15px;
    font-size: 1.5rem; }
    .slider .btn-slider:hover {
      background-color: #f08b2c;
      color: #fff; }
  .slider .slider-title {
    margin-bottom: 0;
    font-size: 45px;
    font-size: 4.5rem; }
    .slider .slider-title span {
      padding-left: 15px;
      padding-right: 15px;
      background-color: #95c93d;
      -webkit-border-bottom-left-radius: 35px;
              border-bottom-left-radius: 35px;
      -webkit-border-top-left-radius: 35px;
              border-top-left-radius: 35px;
      -webkit-border-bottom-right-radius: 35px;
              border-bottom-right-radius: 35px;
      -webkit-border-top-right-radius: 35px;
              border-top-right-radius: 35px; }
  .slider .support-text {
    text-indent: 80px;
    margin: 0; }
    .slider .support-text span {
      text-transform: uppercase;
      background-color: #c9202a;
      padding-left: 10px;
      padding-right: 10px;
      -webkit-border-bottom-left-radius: 25px;
              border-bottom-left-radius: 25px;
      -webkit-border-top-left-radius: 25px;
              border-top-left-radius: 25px;
      -webkit-border-bottom-right-radius: 25px;
              border-bottom-right-radius: 25px;
      -webkit-border-top-right-radius: 25px;
              border-top-right-radius: 25px;
      font-size: 25px;
      font-size: 2.5rem; }
  .slider .banner-info {
    font-size: 20px;
    font-size: 2rem; }
  .slider .slider-title2 {
    margin: 0;
    font-size: 50px;
    font-size: 5rem; }
  .slider .slider-text2 {
    font-size: 42px;
    font-size: 4.2rem;
    margin-top: 0; }
    .slider .slider-text2 strong,
    .slider .slider-text2 span {
      background-color: #c9202a;
      padding-left: 20px;
      padding-right: 20px;
      -webkit-border-bottom-left-radius: 35px;
              border-bottom-left-radius: 35px;
      -webkit-border-top-left-radius: 35px;
              border-top-left-radius: 35px;
      -webkit-border-bottom-right-radius: 35px;
              border-bottom-right-radius: 35px;
      -webkit-border-top-right-radius: 35px;
              border-top-right-radius: 35px; }
    .slider .slider-text2 span {
      font-size: 28px;
      font-size: 2.8rem; }
  .slider .indicators {
    bottom: 44px;
    z-index: 2; }

.advantage {
  margin-bottom: 25px; }
  .advantage .advantages {
    background: url("../img/rumb.png") no-repeat;
    padding: 48px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .advantage .advantages:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      background-image: none; }
  .advantage .text-advantages {
    margin-left: 6px;
    padding-top: 80px;
    position: relative;
    top: -12rem;
    text-align: center;
    width: 85%;
    font-family: PfagoraslabPro-Bold;
    font-size: 12px;
    font-size: 1.2rem; }
    .advantage .text-advantages::after {
      content: '';
      background: url("../img/breaking.png") no-repeat;
      position: absolute;
      width: 156px;
      height: 20px;
      left: -5px;
      display: -webkit-box; }
  .advantage .adv1 {
    background: url("../img/puzzle.png") center 0 no-repeat; }
  .advantage .adv2 {
    background: url("../img/cat.png") center 0 no-repeat; }
  .advantage .adv3 {
    background: url("../img/hiero.png") center 0 no-repeat; }
  .advantage .adv4 {
    background: url("../img/family.png") center 0 no-repeat; }
  .advantage .adv5 {
    background: url("../img/student.png") center 0 no-repeat; }
  .advantage .adv6 {
    background: url("../img/study.png") center 0 no-repeat; }
  .advantage .adv7 {
    background: url("../img/care.png") center 0 no-repeat; }
  .advantage .adv8 {
    background: url("../img/media.png") center 0 no-repeat; }
  .advantage .adv9 {
    background: url("../img/laptop.png") center 0 no-repeat; }

.programms-banner {
  background-image: url("../img/programs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 480px;
  margin-bottom: 25px; }
  .programms-banner h3 {
    background: url("../img/programs-background.png") no-repeat;
    font-family: PfagoraslabPro-Black;
    color: #fff;
    width: 775px;
    height: 180px;
    margin: 0 auto;
    padding-top: 48px;
    font-size: 26px;
    font-size: 2.6rem; }
    .programms-banner h3 span {
      font-family: Lifehack;
      font-size: 33px;
      font-size: 3.3rem; }
  .programms-banner .right-align {
    padding-right: 40px; }
  .programms-banner .left-align {
    padding-left: 40px; }
  .programms-banner .letters {
    position: relative; }
  .programms-banner .letters::before {
    background: url("../img/letters.png") no-repeat;
    content: '';
    position: absolute;
    width: 50px;
    height: 144px;
    top: 32px;
    left: -25px; }
  .programms-banner .programs-text1,
  .programms-banner .programs-text2 {
    display: inline-block;
    padding: 0 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: #ffff00;
    font-family: Lumberjack;
    font-size: 20px;
    font-size: 2rem; }
  .programms-banner .programs-text1 {
    color: #c9202a;
    -webkit-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  .programms-banner .programs-text2 {
    color: #007236;
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg); }
  .programms-banner .programs-more {
    background-color: #c9202a;
    font-family: PfagoraslabPro-Bold;
    font-size: 12px;
    font-size: 1.2rem; }
    .programms-banner .programs-more:hover {
      background-color: transparent;
      color: #007236;
      border-color: #007236;
      border-width: 3px;
      border-style: solid; }

.about {
  margin-bottom: 25px; }
  .about p {
    margin-bottom: 0 auto; }
    .about p span {
      padding-right: 5px;
      -webkit-border-bottom-right-radius: 8px;
              border-bottom-right-radius: 8px;
      -webkit-border-top-right-radius: 8px;
              border-top-right-radius: 8px; }
    .about p:nth-child(3n+1) span {
      background-color: #95c93d;
      color: #fff; }
    .about p:nth-child(3n+2) span {
      background-color: #f08b2c;
      color: #fff; }
    .about p:nth-child(3n+3) span {
      background-color: #c9202a;
      color: #fff; }

.activity {
  margin-bottom: 25px; }
  .activity .activity-text a {
    color: #95c93d;
    font-family: FiraSans-Bold; }
  .activity .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px; }
    .activity .card .card-action {
      border: none; }
    .activity .card .card-title {
      margin: 0;
      padding-top: 14px;
      padding-bottom: 7px;
      color: #fff; }
    .activity .card .card-content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .activity .card .card-btn {
      background-color: transparent;
      font-family: PfagoraslabPro-Bold;
      padding: 0 1rem; }
      .activity .card .card-btn:hover {
        color: #fff; }
    .activity .card ul li {
      position: relative;
      margin-left: 20px; }
      .activity .card ul li::before {
        content: "•";
        position: absolute;
        left: -25px;
        top: -8px;
        font-size: 40px; }
  .activity .card-first {
    border-color: #95c93d;
    border-width: 3px;
    border-style: solid; }
    .activity .card-first .card-title {
      background-color: #95c93d; }
    .activity .card-first .card-btn {
      color: #95c93d;
      border-color: #95c93d;
      border-width: 3px;
      border-style: solid; }
      .activity .card-first .card-btn:hover {
        background-color: #95c93d; }
    .activity .card-first ul li::before {
      color: #95c93d; }
  .activity .card-second {
    border-color: #f08b2c;
    border-width: 3px;
    border-style: solid; }
    .activity .card-second .card-title {
      background-color: #f08b2c; }
    .activity .card-second .card-btn {
      color: #f08b2c;
      border-color: #f08b2c;
      border-width: 3px;
      border-style: solid; }
      .activity .card-second .card-btn:hover {
        background-color: #f08b2c; }
    .activity .card-second ul li::before {
      color: #f08b2c; }
  .activity .card-third {
    border-color: #c9202a;
    border-width: 3px;
    border-style: solid; }
    .activity .card-third .card-title {
      background-color: #c9202a; }
    .activity .card-third .card-btn {
      color: #c9202a;
      border-color: #c9202a;
      border-width: 3px;
      border-style: solid; }
      .activity .card-third .card-btn:hover {
        background-color: #c9202a; }
    .activity .card-third ul li::before {
      color: #c9202a; }
  .activity .card-forth {
    border-color: #acacac;
    border-width: 3px;
    border-style: solid; }
    .activity .card-forth .card-title {
      background-color: #acacac; }
    .activity .card-forth .card-btn {
      color: #acacac;
      border-color: #acacac;
      border-width: 3px;
      border-style: solid; }
      .activity .card-forth .card-btn:hover {
        background-color: #acacac; }
    .activity .card-forth ul li::before {
      color: #acacac; }

.news {
  margin-bottom: 25px; }
  .news img {
    width: 100%;
    max-width: 100%; }
  .news .news-link {
    color: #000;
    font-family: PfagoraslabPro-Bold;
    font-size: 12px;
    font-size: 1.2rem; }
    .news .news-link::after {
      background: url("../img/breaking-news.png") no-repeat;
      content: '';
      width: 155px;
      height: 20px;
      float: right; }
    .news .news-link:hover {
      color: #c9202a; }
      .news .news-link:hover time {
        color: #000; }
  .news .news-action .news-more {
    background-color: transparent;
    border-color: #95c93d;
    border-width: 3px;
    border-style: solid;
    color: #95c93d;
    font-family: PfagoraslabPro-Bold; }
    .news .news-action .news-more:hover {
      background-color: #95c93d;
      color: #fff; }

.feedback {
  margin-bottom: 25px; }
  .feedback .feedback-text {
    font-family: PfagoraslabPro-LightItalic;
    background-color: #f4f9eb;
    background-size: 80%;
    position: relative;
    margin-bottom: 25px; }
    .feedback .feedback-text::before {
      content: '';
      width: 77px;
      height: 20px;
      position: absolute;
      top: -20px;
      background: url("../img/breaking-news.png") no-repeat; }
    .feedback .feedback-text::after {
      content: '';
      width: 95px;
      height: 18px;
      position: absolute;
      left: 0;
      bottom: -20px;
      background: url("../img/star-gold.png"); }
  .feedback .feedback-action .feedback-more {
    background-color: transparent;
    border-color: #95c93d;
    border-width: 3px;
    border-style: solid;
    color: #95c93d;
    font-family: PfagoraslabPro-Bold; }
    .feedback .feedback-action .feedback-more:hover {
      background-color: #95c93d;
      color: #fff; }

.feedback-form .stars {
  color: #000;
  position: relative;
  top: 40px; }
  .feedback-form .stars::before {
    content: '';
    position: absolute;
    background: url("../img/star-grey.png");
    width: 180px;
    height: 35px;
    top: -37px; }

.feedback-form input[type=text],
.feedback-form input[type=email],
.feedback-form textarea.materialize-textarea {
  border: 1px solid #636363;
  background-color: #ebebeb;
  text-indent: 10px; }

.feedback-form textarea.materialize-textarea {
  height: auto; }

.feedback-form .feedback-btn {
  background-color: #95c93d;
  color: #fff;
  border-color: #95c93d;
  border-width: 3px;
  border-style: solid; }
  .feedback-form .feedback-btn:hover {
    background-color: transparent;
    color: #95c93d; }

.instagram-slider {
  margin-bottom: 25px; }
  .instagram-slider .carousel {
    height: 500px;
    background-color: #95c93d; }
    .instagram-slider .carousel .carousel-item {
      width: 20%; }
      .instagram-slider .carousel .carousel-item .card {
        top: -145px; }
        .instagram-slider .carousel .carousel-item .card .card-image {
          padding: 30px; }
        .instagram-slider .carousel .carousel-item .card .card-content {
          padding-top: 0;
          padding-bottom: 100px; }
          .instagram-slider .carousel .carousel-item .card .card-content p {
            position: relative; }
            .instagram-slider .carousel .carousel-item .card .card-content p::after {
              content: '';
              position: absolute;
              background: url("../img/breaking-news.png") no-repeat;
              top: 45px;
              left: 0;
              width: 155px;
              height: 20px; }
          .instagram-slider .carousel .carousel-item .card .card-content .likes {
            position: relative;
            top: 20px;
            right: 20px;
            font-size: 15px;
            font-size: 1.5rem; }
            .instagram-slider .carousel .carousel-item .card .card-content .likes i {
              position: absolute;
              top: 5px;
              right: -15px;
              color: #e12331; }

.send-mail {
  margin-bottom: 25px;
  background: rgba(240, 139, 44, 0.8); }
  .send-mail .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .send-mail .row .input-field {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .send-mail .row .input-field input[type=email] {
        background-color: #fff;
        text-indent: 10px;
        height: 2.4rem; }
      .send-mail .row .input-field .send-btn {
        font-family: PfagoraslabPro-Bold;
        font-size: 12px;
        font-size: 1.2rem;
        background-color: #95c93d;
        color: #fff;
        border-color: #95c93d;
        border-width: 3px;
        border-style: solid; }
        .send-mail .row .input-field .send-btn:hover {
          color: #95c93d;
          background-color: #fff; }

.social-footer {
  margin-bottom: 50px; }
  .social-footer .social-footer-title {
    font-family: Lifehack;
    color: #95c93d; }
  .social-footer .social-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

footer {
  background: rgba(235, 235, 235, 0.8) url("../img/border.png") repeat-x; }
  footer .row {
    margin-bottom: 0;
    padding-top: 25px; }
    footer .row .footer-nav a,
    footer .row .info-menu a {
      color: #000; }
      footer .row .footer-nav a:hover,
      footer .row .info-menu a:hover {
        color: #c9202a; }
  footer .dev {
    margin-top: 0; }
    footer .dev a {
      position: relative;
      margin-left: 20px;
      color: #000;
      border-bottom: 1px solid #95c93d; }
      footer .dev a:hover {
        color: #95c93d;
        border-bottom: none; }
      footer .dev a::before {
        content: '';
        position: absolute;
        top: 3px;
        left: -12px;
        height: 13px;
        border-left: 2px solid #95c93d; }

@font-face {
  font-family: "FiraSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "FiraSans-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-black.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-bold.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-medium.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-thin.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-light.ttf") format("truetype"); }

@font-face {
  font-family: "PfagoraslabPro-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/pfagoraslabpro/pfagoraslabpro-lightitalic.ttf") format("truetype"); }

@font-face {
  font-family: "Lifehack Bold";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lifehack";
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lumberjack";
  font-style: normal;
  font-weight: normal; }

.support-color1 {
  color: #95c93d; }

.support-color2 {
  color: #c9202a; }

.default-margin {
  margin-bottom: 25px; }

.reg-height {
  max-height: 440px; }

.inner-row {
  position: relative;
  top: 80px;
  left: 40px; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #363636;
  font-style: italic; }

.section-title {
  color: #fff;
  background-color: #c9202a;
  background: -webkit-gradient(linear, left top, right top, color-stop(68%, #c9202a), color-stop(50%, transparent));
  background: -webkit-linear-gradient(left, #c9202a 68%, transparent 50%);
  background: linear-gradient(to right, #c9202a 68%, transparent 50%);
  font-family: PfagoraslabPro-Black;
  font-size: 26px;
  font-size: 2.6rem; }

time {
  font-family: PfagoraslabPro-Thin; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .social .social-item {
    margin-left: 15px; }
    .social .social-item .item-vk,
    .social .social-item .item-twit,
    .social .social-item .item-od,
    .social .social-item .item-insta,
    .social .social-item .item-plus,
    .social .social-item .item-fb {
      background-color: #7f7f7f; }
    .social .social-item .item-vk:hover {
      background-color: #45668e; }
    .social .social-item .item-twit:hover {
      background-color: #00aced; }
    .social .social-item .item-od:hover {
      background-color: #FF9800; }
    .social .social-item .item-insta:hover {
      background-color: #bc2a8d; }
    .social .social-item .item-plus:hover {
      background-color: #dd4b39; }
    .social .social-item .item-fb:hover {
      background-color: #3b5998; }

@media only screen and (max-width: 360px) {
  .hide-on-extra-small-only, .hide-on-extra-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 520px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 830px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 521px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 520px) and (max-width: 830px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (max-width: 1050px) {
  .hide-on-large-and-down {
    display: none !important; } }

@media only screen and (min-width: 831px) {
  .hide-on-large-and-up {
    display: none !important; } }

@media only screen and (min-width: 830px) and (max-width: 1050px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 1051px) {
  .hide-on-extra-large-only {
    display: none !important; } }

@media only screen and (min-width: 1051px) {
  .show-on-extra-large {
    display: initial !important; } }

@media only screen and (min-width: 830px) and (max-width: 1050px) {
  .show-on-large {
    display: initial !important; } }

@media only screen and (min-width: 520px) and (max-width: 830px) {
  .show-on-medium {
    display: initial !important; } }

@media only screen and (max-width: 520px) {
  .show-on-small {
    display: initial !important; } }

@media only screen and (min-width: 521px) {
  .show-on-medium-and-up {
    display: initial !important; } }

@media only screen and (max-width: 830px) {
  .show-on-medium-and-down {
    display: initial !important; } }

@media only screen and (min-width: 831px) {
  .show-on-large-and-up {
    display: initial !important; } }

@media only screen and (max-width: 1050px) {
  .show-on-large-and-down {
    display: initial !important; } }

.row .col.xs1 {
  width: 8.33333% !important;
  margin-left: 0 !important; }

.row .col.xs2 {
  width: 16.66667% !important;
  margin-left: 0 !important; }

.row .col.xs3 {
  width: 25% !important;
  margin-left: 0 !important; }

.row .col.xs4 {
  width: 33.33333% !important;
  margin-left: 0 !important; }

.row .col.xs5 {
  width: 41.66667% !important;
  margin-left: 0 !important; }

.row .col.xs6 {
  width: 50% !important;
  margin-left: 0 !important; }

.row .col.xs7 {
  width: 58.33333% !important;
  margin-left: 0 !important; }

.row .col.xs8 {
  width: 66.66667% !important;
  margin-left: 0 !important; }

.row .col.xs9 {
  width: 75% !important;
  margin-left: 0 !important; }

.row .col.xs10 {
  width: 83.33333% !important;
  margin-left: 0 !important; }

.row .col.xs11 {
  width: 91.66667% !important;
  margin-left: 0 !important; }

.row .col.xs12 {
  width: 100% !important;
  margin-left: 0 !important; }

.row .col.offset-xs1 {
  margin-left: 8.33333% !important; }

.row .col.offset-xs2 {
  margin-left: 16.66667% !important; }

.row .col.offset-xs3 {
  margin-left: 25% !important; }

.row .col.offset-xs4 {
  margin-left: 33.33333% !important; }

.row .col.offset-xs5 {
  margin-left: 41.66667% !important; }

.row .col.offset-xs6 {
  margin-left: 50% !important; }

.row .col.offset-xs7 {
  margin-left: 58.33333% !important; }

.row .col.offset-xs8 {
  margin-left: 66.66667% !important; }

.row .col.offset-xs9 {
  margin-left: 75% !important; }

.row .col.offset-xs10 {
  margin-left: 83.33333% !important; }

.row .col.offset-xs11 {
  margin-left: 91.66667% !important; }

.row .col.offset-xs12 {
  margin-left: 100% !important; }

@media only screen and (min-width: 361px) {
  .row .col.s1 {
    width: 8.33333% !important;
    margin-left: 0 !important; }
  .row .col.s2 {
    width: 16.66667% !important;
    margin-left: 0 !important; }
  .row .col.s3 {
    width: 25% !important;
    margin-left: 0 !important; }
  .row .col.s4 {
    width: 33.33333% !important;
    margin-left: 0 !important; }
  .row .col.s5 {
    width: 41.66667% !important;
    margin-left: 0 !important; }
  .row .col.s6 {
    width: 50% !important;
    margin-left: 0 !important; }
  .row .col.s7 {
    width: 58.33333% !important;
    margin-left: 0 !important; }
  .row .col.s8 {
    width: 66.66667% !important;
    margin-left: 0 !important; }
  .row .col.s9 {
    width: 75% !important;
    margin-left: 0 !important; }
  .row .col.s10 {
    width: 83.33333% !important;
    margin-left: 0 !important; }
  .row .col.s11 {
    width: 91.66667% !important;
    margin-left: 0 !important; }
  .row .col.s12 {
    width: 100% !important;
    margin-left: 0 !important; }
  .row .col.offset-s1 {
    margin-left: 8.33333% !important; }
  .row .col.offset-s2 {
    margin-left: 16.66667% !important; }
  .row .col.offset-s3 {
    margin-left: 25% !important; }
  .row .col.offset-s4 {
    margin-left: 33.33333% !important; }
  .row .col.offset-s5 {
    margin-left: 41.66667% !important; }
  .row .col.offset-s6 {
    margin-left: 50% !important; }
  .row .col.offset-s7 {
    margin-left: 58.33333% !important; }
  .row .col.offset-s8 {
    margin-left: 66.66667% !important; }
  .row .col.offset-s9 {
    margin-left: 75% !important; }
  .row .col.offset-s10 {
    margin-left: 83.33333% !important; }
  .row .col.offset-s11 {
    margin-left: 91.66667% !important; }
  .row .col.offset-s12 {
    margin-left: 100% !important; } }

@media only screen and (min-width: 521px) {
  .row .col.m1 {
    width: 8.33333% !important;
    margin-left: 0 !important; }
  .row .col.m2 {
    width: 16.66667% !important;
    margin-left: 0 !important; }
  .row .col.m3 {
    width: 25% !important;
    margin-left: 0 !important; }
  .row .col.m4 {
    width: 33.33333% !important;
    margin-left: 0 !important; }
  .row .col.m5 {
    width: 41.66667% !important;
    margin-left: 0 !important; }
  .row .col.m6 {
    width: 50% !important;
    margin-left: 0 !important; }
  .row .col.m7 {
    width: 58.33333% !important;
    margin-left: 0 !important; }
  .row .col.m8 {
    width: 66.66667% !important;
    margin-left: 0 !important; }
  .row .col.m9 {
    width: 75% !important;
    margin-left: 0 !important; }
  .row .col.m10 {
    width: 83.33333% !important;
    margin-left: 0 !important; }
  .row .col.m11 {
    width: 91.66667% !important;
    margin-left: 0 !important; }
  .row .col.m12 {
    width: 100% !important;
    margin-left: 0 !important; }
  .row .col.offset-m1 {
    margin-left: 8.33333% !important; }
  .row .col.offset-m2 {
    margin-left: 16.66667% !important; }
  .row .col.offset-m3 {
    margin-left: 25% !important; }
  .row .col.offset-m4 {
    margin-left: 33.33333% !important; }
  .row .col.offset-m5 {
    margin-left: 41.66667% !important; }
  .row .col.offset-m6 {
    margin-left: 50% !important; }
  .row .col.offset-m7 {
    margin-left: 58.33333% !important; }
  .row .col.offset-m8 {
    margin-left: 66.66667% !important; }
  .row .col.offset-m9 {
    margin-left: 75% !important; }
  .row .col.offset-m10 {
    margin-left: 83.33333% !important; }
  .row .col.offset-m11 {
    margin-left: 91.66667% !important; }
  .row .col.offset-m12 {
    margin-left: 100% !important; } }

@media only screen and (min-width: 831px) {
  .row .col.l1 {
    width: 8.33333% !important;
    margin-left: 0 !important; }
  .row .col.l2 {
    width: 16.66667% !important;
    margin-left: 0 !important; }
  .row .col.l3 {
    width: 25% !important;
    margin-left: 0 !important; }
  .row .col.l4 {
    width: 33.33333% !important;
    margin-left: 0 !important; }
  .row .col.l5 {
    width: 41.66667% !important;
    margin-left: 0 !important; }
  .row .col.l6 {
    width: 50% !important;
    margin-left: 0 !important; }
  .row .col.l7 {
    width: 58.33333% !important;
    margin-left: 0 !important; }
  .row .col.l8 {
    width: 66.66667% !important;
    margin-left: 0 !important; }
  .row .col.l9 {
    width: 75% !important;
    margin-left: 0 !important; }
  .row .col.l10 {
    width: 83.33333% !important;
    margin-left: 0 !important; }
  .row .col.l11 {
    width: 91.66667% !important;
    margin-left: 0 !important; }
  .row .col.l12 {
    width: 100% !important;
    margin-left: 0 !important; }
  .row .col.offset-l1 {
    margin-left: 8.33333% !important; }
  .row .col.offset-l2 {
    margin-left: 16.66667% !important; }
  .row .col.offset-l3 {
    margin-left: 25% !important; }
  .row .col.offset-l4 {
    margin-left: 33.33333% !important; }
  .row .col.offset-l5 {
    margin-left: 41.66667% !important; }
  .row .col.offset-l6 {
    margin-left: 50% !important; }
  .row .col.offset-l7 {
    margin-left: 58.33333% !important; }
  .row .col.offset-l8 {
    margin-left: 66.66667% !important; }
  .row .col.offset-l9 {
    margin-left: 75% !important; }
  .row .col.offset-l10 {
    margin-left: 83.33333% !important; }
  .row .col.offset-l11 {
    margin-left: 91.66667% !important; }
  .row .col.offset-l12 {
    margin-left: 100% !important; } }

@media only screen and (min-width: 1051px) {
  .row .col.xl1 {
    width: 8.33333% !important;
    margin-left: 0 !important; }
  .row .col.xl2 {
    width: 16.66667% !important;
    margin-left: 0 !important; }
  .row .col.xl3 {
    width: 25% !important;
    margin-left: 0 !important; }
  .row .col.xl4 {
    width: 33.33333% !important;
    margin-left: 0 !important; }
  .row .col.xl5 {
    width: 41.66667% !important;
    margin-left: 0 !important; }
  .row .col.xl6 {
    width: 50% !important;
    margin-left: 0 !important; }
  .row .col.xl7 {
    width: 58.33333% !important;
    margin-left: 0 !important; }
  .row .col.xl8 {
    width: 66.66667% !important;
    margin-left: 0 !important; }
  .row .col.xl9 {
    width: 75% !important;
    margin-left: 0 !important; }
  .row .col.xl10 {
    width: 83.33333% !important;
    margin-left: 0 !important; }
  .row .col.xl11 {
    width: 91.66667% !important;
    margin-left: 0 !important; }
  .row .col.xl12 {
    width: 100% !important;
    margin-left: 0 !important; }
  .row .col.offset-xl1 {
    margin-left: 8.33333% !important; }
  .row .col.offset-xl2 {
    margin-left: 16.66667% !important; }
  .row .col.offset-xl3 {
    margin-left: 25% !important; }
  .row .col.offset-xl4 {
    margin-left: 33.33333% !important; }
  .row .col.offset-xl5 {
    margin-left: 41.66667% !important; }
  .row .col.offset-xl6 {
    margin-left: 50% !important; }
  .row .col.offset-xl7 {
    margin-left: 58.33333% !important; }
  .row .col.offset-xl8 {
    margin-left: 66.66667% !important; }
  .row .col.offset-xl9 {
    margin-left: 75% !important; }
  .row .col.offset-xl10 {
    margin-left: 83.33333% !important; }
  .row .col.offset-xl11 {
    margin-left: 91.66667% !important; }
  .row .col.offset-xl12 {
    margin-left: 100% !important; } }
