@import "bourbon"
@import "fonts"
@import "mixins"

$support-color1: #95c93d
$support-color2: #c9202a
$support-color3: #f08b2c
$support-color4: #007236
$support-color5: #acacac
$items_color: #363636
$input-heigth: 2.5rem !default
$none: 0 !default
$transparent: transparent !default
$default-margin: 25px
$auto-margin: 0 auto

.support-color1
  color: $support-color1

.support-color2
  color: $support-color2

.default-margin
  margin-bottom: $default-margin

.reg-height
  max-height: 440px

.inner-row
  position: relative
  top: 80px
  left: 40px

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color: $items_color
  font-style: italic

.section-title
  color: #fff
  background-color: $support-color2
  background: linear-gradient(to right, #c9202a 68%, transparent 50%)
  font-family: PfagoraslabPro-Black
  +font-size(2.6)

time
  font-family: PfagoraslabPro-Thin

.social
  display: flex
  .social-item
    margin-left: 15px
    .item-vk,
    .item-twit,
    .item-od,
    .item-insta,
    .item-plus,
    .item-fb
      background-color: #7f7f7f
    .item-vk:hover
      background-color: #45668e
    .item-twit:hover
      background-color: #00aced
    .item-od:hover
      background-color: #FF9800
    .item-insta:hover
      background-color: #bc2a8d
    .item-plus:hover
      background-color: #dd4b39
    .item-fb:hover
      background-color: #3b5998
