@import "bourbon"
@import "fonts"
@import "vars"
@import "mixins"

// start
*
  box-sizing: border-box
body
  background-image: url('../img/main-background.png')
  background-repeat: repeat
  font-family: FiraSans-Regular


//  header
.header-top
  background-image: url('../img/border.png')
  background-position: bottom
  background-repeat: repeat-x

.justify-space
  justify-content: space-between

.contact-info
  .info-item-tel,
  .info-item-address
    padding-left: 28px
  .info-item-tel
    background: url('../img/tel.png') no-repeat
    background-position-y: 3px
    margin-bottom: 5px
    font-family: "Lifehack"
    font-weight: bold
    +font-size(1.4)
  .info-item-address
    background: url('../img/marker.png') no-repeat
    margin-left: 4px
    padding-bottom: 5px
    color: #252525
    font-family: PfagoraslabPro-Thin
    +font-size(1.2)

.complete-info
  .info-cab,
  .info-org
    border-bottom: 3px solid $support-color1
    color: #252525
    font-family: PfagoraslabPro-Light
    +font-size(1.2)
    &:hover
      border-bottom: none
  .info-cab-icon
    background: url('../img/profile.png') no-repeat
    padding: 9px 19px 4px
  .info-org-icon
    background: url('../img/info.png') no-repeat
    padding: 1px 14px 4px

.transparent
  background-color: $transparent
  box-shadow: $none
  height: 40px
  line-height: 40px
  .main-menu
    display: flex
    justify-content: center
    .main-menu-item
      float: $none
      .menu-link
        color: $items_color
        font-family: PfagoraslabPro-Medium
        display: inline
        padding: 6px 15px
        margin-left: 5px
        +font-size(1.4)
        &:hover
          background-color: $support-color1
          color: #fff
      &::before
        content: ''
        display: inline-block
        height: 16px
        position: absolute
        top: 11px
        border-left: 5px solid $support-color1
      &:last-child
        &::after
          content: ''
          display: inline-block
          height: 16px
          position: relative
          top: 3px
          right: 5px
          border-right: 5px solid $support-color1
      .dropdown-content
        li
          +border($support-color1)
          &:not(:last-child)
            border-bottom: none
          &:hover
            background-color: #fff
          a
            font-family: PfagoraslabPro-Medium
            color: $items_color
            +font-size(1.4)
            &:hover
              color: $support-color2


//  slider
.slider
  margin-bottom: $default-margin
  .custom-caption
    top: 2% !important
    left: 14% !important
  .slider-text
    font-family: PfagoraslabPro-Black
    line-height: 1.2
    +font-size(3.4)
  form.col
    background: url('../img/form.png') no-repeat
    position: relative
    top: -100px
    height: 400px
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea.materialize-textarea
    margin: $none
    background-color: #fff
    color: #000
    text-indent: 10px
  input[type=text],
  input[type=tel],
  input[type=email]
    height: $input-heigth
  textarea.materialize-textarea
    padding: $none
  .btn-slider
    background-color: $transparent
    +border($support-color3)
    color: $support-color3
    font-family: PfagoraslabPro-Bold
    +font-size(1.5)
    &:hover
      background-color: $support-color3
      color: #fff

  .slider-title
    margin-bottom: $none
    +font-size(4.5)
    span
      padding-left: 15px
      padding-right: 15px
      background-color: $support-color1
      @include border-left-radius(35px)
      @include border-right-radius(35px)
  .support-text
    text-indent: 80px
    margin: $none
    span
      text-transform: uppercase
      background-color: $support-color2
      padding-left: 10px
      padding-right: 10px
      @include border-left-radius(25px)
      @include border-right-radius(25px)
      +font-size(2.5)
  .banner-info
    +font-size(2)

  .slider-title2
    margin: $none
    +font-size(5)
  .slider-text2
    +font-size(4.2)
    margin-top: $none
    strong,
    span
      background-color: $support-color2
      padding-left: 20px
      padding-right: 20px
      @include border-left-radius(35px)
      @include border-right-radius(35px)
    span
      +font-size(2.8)


  .indicators
    bottom: 44px
    z-index: 2


//  advantage
.advantage
  margin-bottom: $default-margin
  .advantages
    background: url('../img/rumb.png') no-repeat
    padding: 48px
    margin-bottom: 20px
    transition: all 0.3s
    &:hover
      transform: scale(1.2)
      background-image: none
  .text-advantages
    margin-left: 6px
    padding-top: 80px
    position: relative
    top: -12rem
    text-align: center
    width: 85%
    font-family: PfagoraslabPro-Bold
    +font-size(1.2)
    &::after
      content: ''
      background: url('../img/breaking.png') no-repeat
      position: absolute
      width: 156px
      height: 20px
      left: -5px
      display: -webkit-box
  .adv1
    background: url('../img/puzzle.png') center 0 no-repeat
  .adv2
    background: url('../img/cat.png') center 0 no-repeat
  .adv3
    background: url('../img/hiero.png') center 0 no-repeat
  .adv4
    background: url('../img/family.png') center 0 no-repeat
  .adv5
    background: url('../img/student.png') center 0 no-repeat
  .adv6
    background: url('../img/study.png') center 0 no-repeat
  .adv7
    background: url('../img/care.png') center 0 no-repeat
  .adv8
    background: url('../img/media.png') center 0 no-repeat
  .adv9
    background: url('../img/laptop.png') center 0 no-repeat


// programms-banner
.programms-banner
  background:
    image: url('../img/programs.jpg')
    repeat: no-repeat
    size: cover
    position: center
  min-height: 480px
  margin-bottom: $default-margin
  h3
    background: url('../img/programs-background.png') no-repeat
    font-family: PfagoraslabPro-Black
    color: #fff
    width: 775px
    height: 180px
    margin: $auto-margin
    padding-top: 48px
    +font-size(2.6)
    span
      font-family: Lifehack
      +font-size(3.3)
  .right-align
    padding-right: 40px
  .left-align
    padding-left: 40px
  .letters
    position: relative
  .letters::before
    background: url('../img/letters.png') no-repeat
    content: ''
    position: absolute
    width: 50px
    height: 144px
    top: 32px
    left: -25px
  .programs-text1,
  .programs-text2
    display: inline-block
    padding: 0 10px
    border-radius: 20px
    background: #ffff00
    font-family: Lumberjack
    +font-size(2)
  .programs-text1
    color: $support-color2
    transform: rotate(-2deg)
  .programs-text2
    color: $support-color4
    transform: rotate(2deg)
  .programs-more
    background-color: $support-color2
    font-family: PfagoraslabPro-Bold
    +font-size(1.2)
    &:hover
      background-color: $transparent
      color: $support-color4
      +border($support-color4)


//  about
.about
  margin-bottom: $default-margin
  p
    margin-bottom: $auto-margin
    span
      padding-right: 5px
      @include border-right-radius(8px)
    &:nth-child(3n+1)
      span
        background-color: $support-color1
        color: #fff
    &:nth-child(3n+2)
      span
        background-color: $support-color3
        color: #fff
    &:nth-child(3n+3)
      span
        background-color: $support-color2
        color: #fff


//  activity
.activity
  margin-bottom: $default-margin
  .activity-text
    a
      color: $support-color1
      font-family: FiraSans-Bold
  .card
    display: flex
    flex-direction: column
    margin-top: 25px
    .card-action
      border: none
    .card-title
      margin: $none
      padding:
        top: 14px
        bottom: 7px
      color: #fff
    .card-content
      flex: 1
    .card-btn
      background-color: $transparent
      font-family: PfagoraslabPro-Bold
      padding: 0 1rem
      &:hover
        color: #fff
    ul
      li
        position: relative
        margin-left: 20px
        &::before
          content: "•"
          position: absolute
          left: -25px
          top: -8px
          font-size: 40px

  .card-first
    +border($support-color1)
    .card-title
      background-color: $support-color1
    .card-btn
      color: $support-color1
      +border($support-color1)
      &:hover
        background-color: $support-color1
    ul
      li::before
        color: $support-color1

  .card-second
    +border($support-color3)
    .card-title
      background-color: $support-color3
    .card-btn
      color: $support-color3
      +border($support-color3)
      &:hover
        background-color: $support-color3
    ul
      li::before
        color: $support-color3

  .card-third
    +border($support-color2)
    .card-title
      background-color: $support-color2
    .card-btn
      color: $support-color2
      +border($support-color2)
      &:hover
        background-color: $support-color2
    ul
      li::before
        color: $support-color2

  .card-forth
    +border($support-color5)
    .card-title
      background-color: $support-color5
    .card-btn
      color: $support-color5
      +border($support-color5)
      &:hover
        background-color: $support-color5
    ul
      li::before
        color: $support-color5


// news
.news
  margin-bottom: $default-margin
  img
    width: 100%
    max-width: 100%
  .news-link
    color: #000
    font-family: PfagoraslabPro-Bold
    +font-size(1.2)
    &::after
      background: url('../img/breaking-news.png') no-repeat
      content: ''
      width: 155px
      height: 20px
      float: right
    &:hover
      color: $support-color2
      time
        color: #000
  .news-action
    .news-more
      background-color: $transparent
      +border($support-color1)
      color: $support-color1
      font-family: PfagoraslabPro-Bold
      &:hover
        background-color: $support-color1
        color: #fff


// feedback
.feedback
  margin-bottom: $default-margin
  .feedback-text
    font-family: PfagoraslabPro-LightItalic
    background-color: #f4f9eb
    background-size: 80%
    position: relative
    margin-bottom: $default-margin
    &::before
      content: ''
      width: 77px
      height: 20px
      position: absolute
      top: -20px
      background: url('../img/breaking-news.png') no-repeat
    &::after
      content: ''
      width: 95px
      height: 18px
      position: absolute
      left: 0
      bottom: -20px
      background: url('../img/star-gold.png')
  .feedback-action
    .feedback-more
      background-color: $transparent
      +border($support-color1)
      color: $support-color1
      font-family: PfagoraslabPro-Bold
      &:hover
        background-color: $support-color1
        color: #fff

.feedback-form
  .stars
    color: #000
    position: relative
    top: 40px
    &::before
      content: ''
      position: absolute
      background: url('../img/star-grey.png')
      width: 180px
      height: 35px
      top: -37px
  input[type=text],
  input[type=email],
  textarea.materialize-textarea
    border: 1px solid #636363
    background-color: #ebebeb
    text-indent: 10px
  textarea.materialize-textarea
    height: auto
  .feedback-btn
    background-color: $support-color1
    color: #fff
    +border($support-color1)
    &:hover
      background-color: $transparent
      color: $support-color1


// instagram-slider
.instagram-slider
  margin-bottom: $default-margin
  .carousel
    height: 500px
    background-color: $support-color1
    .carousel-item
      width: 20%
      .card
        top: -145px
        .card-image
          padding: 30px
        .card-content
          padding:
            top: $none
            bottom: 100px
          p
            position: relative
            &::after
              content: ''
              position: absolute
              background: url('../img/breaking-news.png') no-repeat
              top: 45px
              left: 0
              width: 155px
              height: 20px
          .likes
            position: relative
            top: 20px
            right: 20px
            +font-size(1.5)
            i
              position: absolute
              top: 5px
              right: -15px
              color: #e12331

// send-mail
.send-mail
  margin-bottom: $default-margin
  background: rgba(240, 139, 44, 0.8)
  .row
    display: flex
    justify-content: center
    .input-field
      display: flex
      input[type=email]
        background-color: #fff
        text-indent: 10px
        height: 2.4rem
      .send-btn
        font-family: PfagoraslabPro-Bold
        +font-size(1.2)
        background-color: $support-color1
        color: #fff
        +border($support-color1)
        &:hover
          color: $support-color1
          background-color: #fff


// social-footer
.social-footer
  margin-bottom: $default-margin*2
  .social-footer-title
    font-family: Lifehack
    color: $support-color1
  .social-list
    justify-content: center


// footer
footer
  background: rgba(235, 235, 235, 0.8) url('../img/border.png') repeat-x
  .row
    margin-bottom: $none
    padding-top: 25px
    .footer-nav,
    .info-menu
      a
        color: #000
        &:hover
          color: $support-color2
  .dev
    margin-top: $none
    a
      position: relative
      margin-left: 20px
      color: #000
      border-bottom: 1px solid $support-color1
      &:hover
        color: $support-color1
        border-bottom: none
      &::before
        content: ''
        position: absolute
        top: 3px
        left: -12px
        height: 13px
        border-left: 2px solid $support-color1


@import "media"
